.carouselContainer {
    max-width: 100vw;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.carouselItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.carouselText {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 0 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.carouselIcon {
    width: 24px;
    height: 24px;
    margin: 0 20px;
    fill: white;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
    .carouselText {
        font-size: 16px;
        margin: 0 10px;
    }

    .carouselIcon {
        width: 20px;
        height: 20px;
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .carouselText {
        font-size: 14px;
        margin: 0 5px;
    }

    .carouselIcon {
        width: 18px;
        height: 18px;
        margin: 0 5px;
    }
}
