/* Contenedor principal */
.container {
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #F3F3F3;
    width: 100vw;
    max-width: 100%;
}

/* Título */
.title {
    display: grid;
    place-items: end;
    padding: 50px 0;
    background-color: #2D2F35;
    width: 100%;
}

.tittleWidth{
    width: 100%;
    background-color: #E05A00;
}

.title h3 {
    font-weight: bold;
    color: white;
    margin: 0;
}


/* Servicios */
.services {
    display: flex;
    flex-direction: column;
    /* gap: 4rem;  */
    width: 70%;
    max-width: 90vw;
}

/* Elemento de servicio */
.serviceItem {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

/* Disposición alternada */
.alternateLeft {
    flex-direction: row; /* Imagen a la izquierda */
}

.alternateRight {
    flex-direction: row; /* Imagen a la derecha */
}

/* Imagen y texto */
.image {
    width: 20vw;
    max-width: 18.75rem;
    height: auto;
    object-fit: contain;
}

.textContainer {
    flex: 1;
    text-align: start;
}

.textContainerParagraph {
    flex: 1;
    text-align: start;
}

.textContainer2{
    flex: 1;
    text-align: end;
    color: #000;
}

.textContainer2Title {
    margin: 0;
}

.textContainer2Paragraph {
    flex: 1;
    text-align: end;
    color: #000;
}

.textContainer h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
}

.textContainer p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
