/* Contenedor principal */
.container {
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #F3F3F3;
    width: 100vw;
    max-width: 100%;
}

/* Título */
.title {
    display: grid;
    place-items: end;
    padding: 50px 0;
    background-color: #2D2F35;
    width: 100%;
}

.tittleWidth{
    width: 70%;
    background-color: #E05A00;
}

.title h2 {
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin: 0;
}


/* Servicios */
.services {
    display: flex;
    flex-direction: column;
    gap: 4rem; /* Espacio entre servicios */
    width: 100%;
    max-width: 90vw;
}

/* Elemento de servicio */
.serviceItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

/* Disposición alternada */
.alternateLeft {
    flex-direction: row; /* Imagen a la izquierda */
}

.alternateRight {
    flex-direction: row; /* Imagen a la derecha */
}

/* Imagen y texto */
.image {
    width: 30vw;
    max-width: 300px;
    height: auto;
    object-fit: cover;
}

.textContainer {
    flex: 1;
    text-align: center;

}

.textContainer h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
}

.textContainer p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
