/* Services.module.css */

.container {
    display: grid;
    place-items: center;
    text-align: center;
    overflow-x: hidden;
    position: relative;
}

.title {
    display: grid;
    place-items: center;
}

.title h2 {
    font-size: 64px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.underline {
    width: 6.25rem;
    height: .9375rem;
    background-color: orange;
    border-radius: 30%;
    margin-bottom: 5rem;
}

.services {
    width: 80%;
    display: flex;
    justify-content: space-around;
    gap: 1.25rem;
    position: relative;
}

.serviceItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 1.5s ease, opacity 0.5s ease, width 1.5s ease;
    cursor: pointer;
    height: auto;
    position: relative;
    width: 100%;
}

.imgH3 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.selectedService.move0 {
    transform: none;
}

.selectedService.move50 {
    transform: translateX(-35%);
}

.selectedService.move100 {
    transform: translateX(-75%);
}

.image {
    width: 20vw;
    height: 20vw;
    margin-bottom: 0.625rem;
    object-fit: contain;
}

.textContainer {
    width: calc(80vw - 45vw); /* Calcula el ancho disponible para el texto */
    height: 100%;
    flex-shrink: 0; /* Evita que el contenedor de texto empuje la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
}

.serviceItem h3 {
    font-size: 19.2px;
    font-weight: bold;
    color: #000;
    margin-top: 0.625rem;
}

.serviceItem.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s ease;
}

.serviceItem:not(.hidden) {
    opacity: 1;
    transition: opacity 0.5s ease, transform 1.5s ease, width 1.5s ease;
}
