.aboutUsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #F3F3F3;
    width: 100%;
    height: auto;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textSection {
    flex: 1;
    margin-right: 20px;
    min-width: 300px;
    max-width: 70%;
    opacity: 0;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.heading {
    /* font-size: 60px !important; */
    color: #333;
    margin-bottom: 15px;
}

.text{
    font-size: 25px !important;
text-align: center;
}

.line {
    width: 60px;
    height: 4px;
    background-color: orange;
    margin-bottom: 25px;
}

.vision.visible,
.mission.visible {
    opacity: 1;
    transform: translateY(0);
}


.vision h3,
.mission h3 {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.vision p,
.mission p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    margin: 0;
    text-align: justify;
}