/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(180deg, #FFFFFF 0%, #ED772F 100%);
    box-sizing: border-box;
    overflow-y: auto;
    /* Scroll si hay más contenido */
    padding: 2rem 1rem;
    /* Separación del borde */
}

/* Wrapper general de la grilla */
.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* Productos más ancho que Brands */
    gap: 60px;
    width: 100%;
    max-width: 1200px;
}

/* Sección de Productos */
.one {
    grid-column: 1 / 2;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


/* Sección de Marcas */
.three {
    grid-column: 2 / 3;
}

/* Responsivo tablet */
@media (max-width: 1024px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .one {
        grid-column: 1 / 2;
    }

    .three {
        grid-column: 2 / 3;
    }
}

/* Responsivo mobile */
@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .one,
    .three {
        grid-column: 1 / 2;
    }
}