.container{
    display: grid;
    place-items: center;
    background-color: #F3F3F3;
}

.contactContainer {
    position: relative;
    width: 100vw;
    /* height: 100vh; */
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Pseudo-elemento para aplicar la capa con opacidad */
.contactContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* Título */
.title {
    display: grid;
    place-items: start;
    padding: 50px 0;
    background-color: #2D2F35;
    width: 100%;
}

.tittleWidth{
    width: 70%;
    background-color: #E05A00;
    display: grid;
    place-items: center;
}

.title h3 {
    font-weight: bold;
    color: white;
    margin: 0;
}

.infoSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    width: 80%;
    min-height: 30vh;
}

.information,
.schedule {
    width: 45%;
}

.information h3,
.schedule h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.information p,
.schedule p {
    font-size: 16px;
    margin: 5px 0;
}

.phone {
    font-weight: bold;
    font-size: 16px;
}

.phoneIcon {
    margin-right: 8px;
}

.email {
    color: #ff6f00;
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
}

.schedule p {
    font-size: 16px;
    font-weight: bold;
}
