.container{
    display: flex;
    background-color: #2D2F35;
}

/* Mapa */
.mapContainer {
    min-width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.iframe {
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    box-sizing: border-box;
    border-radius: 8px;
}


.contactContainer {
    position: relative;
    width: 100vw;
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Título */
.title {
    display: grid;
    place-items: start;
    width: 100%;
}

.tittleWidth{
    width: 100%;
    background-color: #E05A00;
    display: grid;
    place-items: center;
}

.title h3 {
    font-weight: bold;
    color: white;
    margin: 0;
}

/* .infoSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    width: 80%;
    min-height: 30vh;
} */

.information,
.schedule {
    width: 100%;
}

.information h3,
.schedule h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #E05A00;
}

.information p,
.schedule p {
    font-size: 16px;
    margin: 5px 0;
}

.phone {
    font-weight: bold;
    font-size: 16px;
}

.phoneIcon {
    margin-right: 8px;
}

.email {
    color: #ff6f00;
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
}

.schedule p {
    font-size: 16px;
    font-weight: bold;
}
